*.py[cod]
__pycache__
.venv
*.stl
*.FCStd
*.egg
*.gif
*.png
*.gif
!animation_crop.gif
!ballfig.png
*.py
!compile_modules.py
!curvature_example.py
!flow_example.py
!transform_example.py
!transform.py
build
*.pdf
*.ply
try
curvature_example.py
!sphere.ply
!knobitle.ply
!deform.ply
*.so
*.npz
test.py
